<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Special+Elite" rel="stylesheet">
    <meta charset="utf-8">
    <title>Newspin</title>
  </head>
  <body>
    <div class="row">
      <nav class="navbar navbar-default navbar-color">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">
              <a title="home" href="/">
                <img class="newspin_logo" src="/assets/LogoMakr.png" alt="logo" />
              </a>
            </a>

          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">

              <div class="form-group search-form">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>

            </form>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="/timeline">Timeline</a></li>
              <li><%= link_to "Log Out", "/logout", class: "logout-link", :method => :delete %></li>
            </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>

    <div class="row">
      <div class='container-profile'>

        <form class="add-article-url" action="/" method="POST">
          <input type="string" class="form-control"name="article_url" placeholder="Save your article here">
          <button type="submit" class="btn btn-default" name="submit" value="submit">POST</button>
        </form>

      </div>

    </div>


  </body>
</html>
