// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar.navbar-default.navbar-color {
  margin: 0;
  background-color: white;
  opacity: 0.93;
}

.navbar-header {
  height: 53px;
}

.newspin_logo {
  height: 100%;
  width: auto;
}

#bs-example-navbar-collapse-1 {
  margin-left: 34%;
}

.article-background {
  background-color: #fafafa;
}

.article-padding-background {
  padding-top: 6px;
  background-color: #fafafa;
}

.profile-infos {
  background-color: #ffffff;
  width: 45%;
  margin: 0 auto;
  margin-top: 7%;
  padding: 3% 5% 2% 5%;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  font-family: 'Muli', sans-serif;
}

.profile-name {
  text-align: center;
  font-size: 2em;
}

.profile-stats {
  margin-top: 3%;
}

.bold {
  font-size: 1.1em;
  font-weight: bolder;
}

.container-add-link {
  width: 45%;
  margin: 0 auto;
  text-align: center;
}

.add-article-url {
  margin-top: 35px;
}

.container-profile-articles {
  background-color: #ffffff;
  width: 45%;
  margin: 0 auto;
  margin-top: 25px;
}

.article-box {
  border: 1px solid #e7e7e7;
}

.article-heading{
  background-color: #ffffff;
  font-family: 'Muli', sans-serif;
  font-size: 1.3em;
  padding: 4% 3% 2% 7%;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap
}

.article-img-container{
  width: 30%;
}

.article-img{
  width: 100%;
  padding: 3% 5% 0% 0%;
  height: auto;
  float: left;
}

.article-title{
  width: 70%;
  float: right;
}

.article-description {
  background-color: #ffffff;
  font-family: 'Playfair Display', serif;
  padding: 2% 3% 4% 7%;
}

.btn {
  margin: 4px;
  font-family: 'Muli', sans-serif;
}

.react-links {
    color: #333;
    text-decoration: none;
}

.react-links:hover, .react-links:focus {
    color: #333;
    text-decoration: none;
}
