// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.welcome_page_html {
    display: table;
    margin: auto;
}

.welcome_page_body {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}

.newspin_title {
  margin-top: 15%;
  font-family: 'Special Elite', cursive;
  font-size: 410%;
  font-weight: bold;
}

.slogan {
  margin-top: 10%;
  margin-bottom: 13%;
  font-family: 'Special Elite', cursive;
  font-size: 230%;
}

.user_inputs {
  width: 60%;
  padding: 2%;
  line-height: 26px;
  margin: 4px;
}

.navbar-color {
    background-color: #fff;
}

.navbar-header {
  height: 53px;
}

.newspin_logo {
  height: 100%;
  width: auto;
}

#bs-example-navbar-collapse-1 {
  margin-left: 34%;
}

.container-add-link {
  width: 45%;
  margin: 0 auto;
  text-align: center;
}

.add-article-url {
  margin-top: 5%;
}

.btn {
  margin: 4px;
}

input, input[placeholder]{
  text-align:center;
}
